$colorTitle: #cc9932;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@font-face {
	font-family: 'Iowan Old Style';
	src: url('./fonts/Iowan Old Style') format('ttf');
}

body {
	font-family: 'Montserrat', sans-serif;
}

img {
	width: 100%;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.header {
	padding: 150px 0 288px;
	background: url('./img/headerLine.svg') no-repeat bottom,
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('./img/headerBg.png');
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		margin: 150px 0 120px;
		font-family: 'Iowan Old Style';
		font-size: 85px;
		text-align: center;
		max-width: 1230px;
		color: $colorTitle;
	}
}

.logo {
	width: 320px;
	height: 380px;
}

.section {
	&__title {
		font-family: 'Iowan Old Style';
		font-size: 75px;
		color: $colorTitle;
		font-weight: 400;
	}
}

.wrapper {
	margin: 300px 0 130px;
	position: relative;

	&__bg {
		width: 850px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&__zone {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__text {
		width: 45%;

		p {
			font-size: 24px;
			line-height: 120%;
			margin-top: 30px;
		}
	}

	&__img {
		width: 45%;
	}

	&__images {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 40px;
		gap: 50px;

		img {
			flex-basis: 30%;
			width: 30%;
		}
	}
}
