@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("./fonts/Iowan Old Style") format("ttf");
}
body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

.header {
  padding: 90px 0 200px;
  background: url("./img/headerLine.svg") no-repeat bottom -1px center/contain, linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/headerBg.png") top -260px center;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 90px 0 100px;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__title {
  margin: 120px 0 120px;
  font-family: "Iowan Old Style";
  font-size: 75px;
  text-align: center;
  max-width: 1230px;
  color: #cc9932;
}
@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 45px;
  }
}

.logo {
  width: 230px;
  height: 270px;
}

.section__title {
  font-family: "Iowan Old Style";
  font-size: 75px;
  color: #cc9932;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .section__title {
    font-size: 55px;
  }
}

.wrapper {
  margin: 300px 0 130px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    margin-top: 200px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 425px) {
  .wrapper {
    margin-top: 100px;
  }
}
.wrapper__bg {
  width: 850px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper__bg {
    width: 550px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper__bg {
    width: 40%;
    bottom: -10%;
  }
}
.wrapper__zone {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .wrapper__zone {
    flex-direction: column;
  }
}
.wrapper__text {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .wrapper__text {
    width: 100%;
  }
}
.wrapper__text p {
  font-size: 24px;
  line-height: 120%;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .wrapper__text p {
    font-size: 20px;
  }
}
.wrapper__img {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .wrapper__img {
    width: 100%;
    margin-top: 30px;
  }
}
.wrapper__images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .wrapper__images {
    gap: 40px;
  }
}
@media screen and (max-width: 425px) {
  .wrapper__images {
    gap: 25px;
  }
}
.wrapper__images img {
  flex-basis: 30%;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .wrapper__images img {
    width: 47%;
  }
}

.target {
  background: url("./img/targetTop.svg") no-repeat center top, url("./img/targetBot.svg") no-repeat center bottom;
  color: #fff;
  padding: 185px 0;
}
.target__wrapper {
  background: #062b47;
  padding: 125px 0;
}
@media screen and (max-width: 768px) {
  .target__wrapper {
    padding: 60px 0;
  }
}
.target__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .target__cards {
    flex-direction: column;
  }
}
.target__img {
  width: 200px;
  height: 200px;
}
.target__card {
  background: #124c73;
  height: 670px;
  padding: 60px 40px 150px;
  border-radius: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .target__card {
    height: 580px;
    padding: 0px 30px 70px;
  }
}
@media screen and (max-width: 768px) {
  .target__card {
    height: 500px;
    padding: 0px 30px 40px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
.target__card img {
  height: 200px;
}
.target__card h3 {
  font-size: 34px;
  line-height: 110%;
  font-weight: 400;
  font-family: "Iowan Old Style";
  text-transform: uppercase;
  max-width: 200px;
}
@media screen and (max-width: 1024px) {
  .target__card h3 {
    font-size: 26px;
  }
}
.target__card p {
  font-size: 20px;
  line-height: 110%;
}
@media screen and (max-width: 1024px) {
  .target__card p {
    font-size: 16px;
  }
}

.tour {
  margin-top: 100px;
  padding-bottom: 100px;
}
.tour__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .tour__container {
    flex-direction: column;
  }
}
.tour__text {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .tour__text {
    width: 100%;
  }
}
.tour__subtitle {
  font-size: 45px;
  font-family: "Iowan Old Style";
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .tour__subtitle {
    font-size: 40px;
  }
}
.tour__title {
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .tour__title {
    font-size: 50px;
  }
}
.tour__time {
  font-family: "Iowan Old Style";
  font-size: 40px;
  text-transform: uppercase;
  margin: 40px 0;
}
@media screen and (max-width: 1024px) {
  .tour__time {
    font-size: 30px;
    margin: 30px 0;
  }
}
.tour__time span {
  color: #e2a618;
}
.tour__desc {
  font-size: 24px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1024px) {
  .tour__desc {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
.tour__img {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .tour__img {
    width: 90%;
    margin: 0 auto;
  }
}
.tour__img img {
  width: 90%;
}
.button {
  background: #d1a543;
  color: #fff;
  border-radius: 100px;
  border: none;
  padding: 30px 50px;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .button {
    font-size: 30px;
  }
}

.lectors {
  padding: 60px 0;
}
.lectors__title {
  font-size: 50px;
  color: #1d1d1b;
  text-transform: uppercase;
}
.lectors__zone {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .lectors__zone {
    flex-direction: column;
  }
}
.lectors__card {
  background: #fcecd2;
  padding: 260px 40px 100px;
  border-radius: 160px;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .lectors__card {
    padding: 150px 20px 80px;
  }
}
@media screen and (max-width: 768px) {
  .lectors__card {
    max-width: 400px;
    margin: 20px auto;
    padding: 170px 30px 80px;
  }
}
.lectors__card img {
  width: 60%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
}
@media screen and (max-width: 768px) {
  .lectors__card img {
    width: 50%;
  }
}
.lectors__card h3 {
  font-family: "Iowan Old Style";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .lectors__card h3 {
    font-size: 26px;
  }
}
.lectors__card p {
  font-size: 20px;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .lectors__card p {
    font-size: 16px;
  }
}
.lectors__card__main {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slider {
  padding: 50px 0;
}
.slider__title {
  font-size: 50px;
  color: #1d1d1b;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Iowan Old Style";
  margin-bottom: 60px;
}

.swiper-wrapper {
  display: flex;
  gap: 60px;
}

.swiper-slide img {
  width: 90%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #e2a618;
  top: var(--swiper-navigation-top-offset, 30%);
}

.blueBg {
  background: url("./img/targetTop.svg") no-repeat center top, url("./img/targetBot.svg") no-repeat center bottom;
  color: #fff;
  padding: 185px 0;
}
.blueBg__wrapper {
  background: #062b47;
  padding: 125px 0;
}

.author__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .author__wrapper {
    flex-direction: column;
  }
}
.author__text {
  max-width: 750px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .author__text {
    order: 1;
  }
}
.author__subtitle {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Iowan Old Style";
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .author__subtitle {
    font-size: 40px;
  }
}
.author__title {
  font-size: 85px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .author__title {
    font-size: 65px;
  }
}
.author__desc {
  font-size: 26px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .author__desc {
    font-size: 18px;
  }
}
.author__link {
  color: #124c73;
  text-decoration: none;
  font-size: 26px;
}
.author__img {
  max-width: 450px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .author__img {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .author__img {
    order: 0;
  }
}
.author__achiv {
  margin-top: 60px;
}
.author__zone {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}
.author__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author__card img {
  width: 40%;
}
.author__card h4 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Iowan Old Style";
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .author__card h4 {
    font-size: 20px;
  }
}

.mission {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
@media screen and (max-width: 768px) {
  .mission {
    flex-direction: column;
    gap: 30px;
  }
}
.mission__text {
  max-width: 550px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .mission__text {
    max-width: 460px;
  }
}
@media screen and (max-width: 768px) {
  .mission__text {
    order: 1;
    max-width: none;
  }
}
.mission__text img {
  width: 30%;
}
.mission__title {
  width: 450px;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .mission__title {
    width: 100%;
  }
}
.mission p {
  font-size: 24px;
  font-family: "Iowan Old Style";
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .mission p {
    font-size: 20px;
  }
}
.mission__img {
  width: 50%;
}
.mission__img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .mission__img {
    width: 100%;
  }
}

.phylosophy {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}
@media screen and (max-width: 768px) {
  .phylosophy {
    flex-direction: column;
    gap: 50px;
  }
}
.phylosophy__title {
  text-transform: uppercase;
  width: 450px;
  margin-bottom: 60px;
}
@media screen and (max-width: 425px) {
  .phylosophy__title {
    width: 100%;
  }
}
.phylosophy__text {
  max-width: 750px;
  width: 100%;
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .phylosophy__text {
    font-size: 20px;
  }
}
.phylosophy__text p {
  margin-bottom: 30px;
}
.phylosophy__list h4 {
  font-size: 24px;
  font-family: "Iowan Old Style";
  font-weight: 400;
  width: 335px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .phylosophy__list h4 {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .phylosophy__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .phylosophy__cards {
    justify-content: center;
    gap: 40px;
  }
}
.phylosophy__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
@media screen and (max-width: 1024px) {
  .phylosophy__card {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .phylosophy__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
}
.phylosophy__card img {
  width: 75px;
}
@media screen and (max-width: 425px) {
  .phylosophy__card img {
    width: 100px;
  }
}
.phylosophy__card p {
  font-size: 26px;
  width: 200px;
}
@media screen and (max-width: 1024px) {
  .phylosophy__card p {
    font-size: 20px;
  }
}

.traffic__container {
  position: relative;
}
.traffic__text {
  margin-top: 50px;
  font-size: 24px;
  max-width: 750px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .traffic__text {
    font-size: 20px;
  }
}
.traffic__text p {
  margin-bottom: 35px;
}
.traffic__subtitle {
  font-size: 36px;
  font-family: "Iowan Old Style";
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .traffic__subtitle {
    font-size: 30px;
  }
}
.traffic__title {
  margin: 70px 0 40px;
}
@media screen and (max-width: 1024px) {
  .traffic__title {
    margin: 50px 0 30px;
  }
}
.traffic__call {
  max-width: 450px;
  width: 100%;
  color: #d1a543;
  font-family: "Iowan Old Style";
  text-transform: uppercase;
  font-size: 36px;
}
.traffic__btn {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 75px;
}
.traffic__img {
  width: 75%;
  position: absolute;
  bottom: -30%;
  right: -10%;
}
@media screen and (max-width: 1440px) {
  .traffic__img {
    bottom: -10%;
    right: 0;
    width: 60%;
  }
}

.footer {
  background: url("./img/footerBg.png") no-repeat bottom -10px center/110%;
  padding: 605px 0 60px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 250px 0 60px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    padding: 150px 0 30px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.footer__list li {
  background: #fcecd2;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.footer__logo img {
  width: 150px;
}
@media screen and (max-width: 425px) {
  .footer__logo img {
    width: 75px;
  }
}/*# sourceMappingURL=main.css.map */